{% extends "layout.html" %}
{% block body %}
  <form action="" method="post" class="form-horizontal">
    <h2>Change password for user "{{ g.user.username() }}"</h2>
    <div class="control-group">
        <div class="controls">
          <input type="password" id="oldpw" name="oldpw" class="input-xlarge"
            placeholder="Enter old password" required>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
          <input type="password" id="newpw1" name="newpw1" class="input-xlarge"
            placeholder="Enter new password" required>
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          <input type="password" id="newpw2" name="newpw2" class="input-xlarge"
            placeholder="Enter new password again" required>
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>

    {% if error_message %}
      <p>{{ error_message }}</p>
    {% endif %}
  </form>
{% endblock %}

