{% extends "layout.html" %}
{% block body %}
  <form action="" method="post" class="form-horizontal">
    <h2>Create user</h2>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="username" name="username" class="input-xlarge"
            placeholder="Enter new user name">
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          <select name='permissions'>
             {% for perm in permissions %}
               <option>{{ perm }}</option>
             {% endfor %}
         </select>
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          <input type="password" id="newpw1" name="newpw1" class="input-xlarge"
            placeholder="Enter new password">
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          <input type="password" id="newpw2" name="newpw2" class="input-xlarge"
            placeholder="Enter new password again">
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          <button type="submit" name='action' value='save' class="btn btn-success">Save</button>
          <button type="submit" name='action' value='cancel' class="btn btn-success">Cancel</button>
        </div>
    </div>

    {% if error_message %}
      <p>{{ error_message }}</p>
    {% endif %}
  </form>
{% endblock %}

